/* Genel sepet görünümü */
.cart-container {
    padding: 20px;
    margin-top: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
  }
  
  h1.text-center {
    display: flex !important;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    justify-content: center;
  }

  
  .empty-cart {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
  }
  
  /* Tablo stili */
  .cart-table {
    /* width: 100%; */
  
    margin-top: 20px;
 
    border-spacing: 10px;
    display: flex;
    justify-content: center;
   
  }
  
  .cart-table th,
  .cart-table td {
    padding: 25px;
    text-align: center;
  }
  
  .cart-table th {
    background-color: #04bfbf;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .cart-table td {
    border-bottom: 1px solid #ddd;

  }
  
  .cart-table tr:hover {
    background-color: #f1f1f1;
    line-height: 1.6;
  }
  
  /* Ürün görselleri */
  .cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
  }
  