body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slider-container {
  position: relative;
  width: 80vw; /* Sayfanın %80'ini kaplasın, %20 boşluk bıraksın */
  height: 70vh; 
  margin: 5vh auto; /* Üstten ve alttan biraz boşluk bırakıp ortala */
  overflow: hidden;
  border-radius: 2em; /* Kenarları yumuşat */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.slider-buttons{
  position: absolute;
  top: 96%; 
  left: 80%;
  

  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}
.slider-buttons button{
 
  border: none;
  width: 0 !important;
  padding: 0 !important;
  margin: 2em;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.slider-buttons i{
  font-size: 2em;
  color: white;
}

/* .cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10em;
  margin-top: 20px;
  color: #04BFBF;
}
.card-content img{
  border-radius: 50% !important;
  width: 100px;
} */



/* Container için genel stil */
.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Cards bölümünü düzenlemek için */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Otomatik sütun sayısı, minimum genişlik 250px */
  gap: 20px; /* Kartlar arasındaki boşluk */
  justify-content: center; /* Kartları ortalar */
  align-items: start; /* Başlangıç noktasına hizalar */
  margin-top: 30px;
  flex-direction: row;
}

/* Her bir kartın stilini düzenlemek için */
.card-content {

  background-color: #fff;
  padding: 20px;
  border-radius: 28px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer; /* Tıklanabilir his */
  text-align: center;
  gap: 12em;
 
}

.card-content:hover {
  transform: translateY(-10px); /* Hover efekti: kartı yukarı kaydır */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Hover'da gölgeyi artır */
}

/* Kart içindeki görselin stilini ayarlamak için */
.card-content img {
  width: 100px; /* Görselin genişliği */
  height: 100px; /* Görselin yüksekliği */
  object-fit: cover; /* Görselin düzgün bir şekilde kutuya yerleşmesini sağlar */
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Kart başlıkları için stil */
.card-content h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Kart açıklamaları için stil */
.card-content p {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
  margin-bottom: 15px;
}

