body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slider-container {
  position: relative;
  width: 80vw; /* Sayfanın %80'ini kaplasın, %20 boşluk bıraksın */
  height: 70vh; 
  margin: 5vh auto; /* Üstten ve alttan biraz boşluk bırakıp ortala */
  overflow: hidden;
  border-radius: 2em; /* Kenarları yumuşat */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.slider-buttons{
  position: absolute;
  top: 96%; 
  left: 0;
  right: -62%;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}
.slider-buttons button{
 
  border: none;
  width: 0 !important;
  padding: 0 !important;
  margin: 2em;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.slider-buttons i{
  font-size: 2em;
  color: white;
}

